<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>City Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="../static/css/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}

    <footer class="mt-8 text-white text-center">
        &copy; City Graph 2018
    </footer>
</body>
</html>