{% extends "base.html" %}
{% block content %}
    <div id="wrapper" class="w-full py-10 px-6">
        <div class="text-center mb-8">
            <h2 class="mb-2 text-white">Lückenschluss durch Überweg</h2>
            <h4 class="text-white">Antrags-Nummer: 14-20 / A 04658</h4>
        </div>

        <div id="timeline" class="relative">
            <div id="line" class="absolute z-10 pin-t pin-b"></div>

            <div class="dot absolute z-50">
                <div></div>
            </div>
        </div>
    </div>
{% endblock %}